body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f7fe;
}

h1 {
  color: #202124;
  font-size: 48px;
  margin-bottom: 10px;
  padding-top: 25px;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #70757a;
  line-height: 20px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #8e7c93;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.weather-app {
  border: 1px solid #fff;
  padding: 40px 40px 0px 40px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

.btn {
  margin: 0px 4px;
}

.btn-outline-secondary {
  margin-left: 8px;
}

.overview {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-temperature {
  margin-top: 20px;
  margin-bottom: -10px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 84px;
  width: 84px;
  float: left;
}

.weather-temperature strong {
  font-size: 58px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: #212529;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.temperature-conditions {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.date-time {
  font-size: 18px;
  color: #70757a;
  line-height: 24px;
  text-align: right;
  padding-top: 8px;
}

.five-day-forecast {
  text-align: center;
  margin-top: 40px;
  color: #000;
}

.card-title {
  font-size: 16px;
  opacity: 0.6;
}

.card-text {
  font-size: 13px;
}

.low-temp {
  color: #70757a;
}

.github-link {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
